<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="InvoiceEntities" connectionString="metadata=res://*/InvoiceEntities.csdl|res://*/InvoiceEntities.ssdl|res://*/InvoiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>